<!--<p>adduser works!</p>-->
<div class="container">
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Admin Add Form</h3>
    </div>

    <form NgForm #f="ngForm" name="f" (ngSubmit)="add(f)">
      <!--    <form  NgForm #f="NgForm" name="f" (onclick)>-->

      <!--    <form class="form-horizontal" ng-Submit="add(f)">-->
      <!--    <form class="form-horizontal">-->
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" ngModel required placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="first_name" name="first_name" ngModel required
                   placeholder="first name">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="last_name" name="last_name" ngModel required
                   placeholder="last name">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" ngModel required
                   placeholder="username">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input type="number" class="form-control" id="phone" name="phone" ngModel required placeholder="phone">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" ngModel required
                   placeholder="Password">

          </div>
        </div>
<!--        <div class="form-group row">-->
<!--          <label for="inputphoto" class="col-sm-2 col-form-label">photo</label>-->
<!--          <input type="file" id="inputphoto" name="profile_image" accept="image/png, image/jpeg">-->

<!--        </div>-->
        <div class="form-group row">
          <div class="col-sm-10">

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck2">Is_admin</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-info" [disabled]="f.invalid">Add</button>
        <a routerLink="/admin/allusers" style="float: right;" class="btn btn-outline-danger">Cancel</a>


      </div>

    </form>
  </div>
</div>

<!--<form (submit)="add(f)" #f="ngForm">-->
<!--  <label> id</label>-->
<!--  <input type="number" name="id" ngModel required #id="ngModel">-->
<!--  <div *ngIf="id.invalid && id.touched">-->
<!--    msg error-->
<!--  </div>-->
<!--  <label > title</label>-->
<!--  <input type="text" name="title" ngModel required minlength="3" #title="ngModel">-->
<!--  <div *ngIf="title.invalid ">-->
<!--    <div *ngIf="title.errors?.['required']">-->
<!--      required-->
<!--    </div>-->
<!--    <div *ngIf="title.errors?.['minlength']">-->
<!--      minlenght-->
<!--    </div>-->
<!--  </div>-->
<!--  <label> quantity</label>-->
<!--  <input type="number" name="Q" ngModel>-->
<!--  <label>price</label>-->
<!--  <input type="number" name="price" ngModel>-->
<!--  <input type="submit" value="save 2" (click)="add(f.valid)" [disabled]="f.untouched">-->

<!--  <div *ngIf="f.valid">-->
<!--    <input type="submit" value="save" (click)="add(f.valid)" [disabled]="false">-->
<!--  </div>-->
<!--  <div *ngIf="f.valid==false">-->
<!--    <input type="submit" value="save" (click)="add(title)" >-->
<!--  </div>-->
<!--</form>-->
