

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/admin/chasse/localisation">
          <div class="img">
        <img src="./assets/ico-localisation.svg" alt="Localisation"width="150" height="300" >
          </div>
        <p><strong>Localisation chasse</strong></p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/admin/chasse/gibier">
        <img src="./assets/ico-gibier.svg" alt="Gibier" width="420" height="500">
        <p><strong>Gibier</strong></p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/admin/chasse/chienChasse">
        <img src="./assets/ico-chiens.svg" alt="CHien Chasse" width="300" height="200">
        <p><strong>CHien Chasse</strong></p>
        </a>
      </div>
    </div>
  </div><br>

  <div class="row text-center slideanim">

    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/admin/chasse/blogue">
        <img src="./assets/ico-blogues.svg" alt="Blogues" width="330" height="200">
        <p><strong>Blogues</strong></p>
        </a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/admin/chasse/commentaire">
        <img src="./assets/ico-commentaire-blogue.svg" alt="Commentaire" width="390" height="200">
        <p><strong>Commentaire</strong></p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/admin/chasse/trucAstuce">
        <img src="./assets/ico-truc-astuce2.svg" alt="Truc et Astuces" width="220" height="200">
        <p><strong>Truc et Astuces</strong></p>
        </a>
      </div>
    </div>
  </div>
  </div><br>
