

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/chasse/localisation">
        <img src="paris.jpg" alt="Localisation" width="400" height="300">
        <p><strong>Localisation chasse</strong></p>
        <p>Localisation chasse</p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/chasse/gibier">
        <img src="newyork.jpg" alt="Gibier" width="400" height="300">
        <p><strong>Gibier</strong></p>
        <p>Gibier</p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/chasse/chienChasse">
        <img src="sanfran.jpg" alt="CHien Chasse" width="400" height="300">
        <p><strong>CHien Chasse</strong></p>
        <p>CHien Chasse</p>
        </a>
      </div>
    </div>
  </div><br>

  <div class="row text-center slideanim">

    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/chasse/blogue">
        <img src="paris.jpg" alt="Blogues" width="400" height="300">
        <p><strong>Blogues</strong></p>
        <p>Blogues</p>
        </a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/chasse/commentaire">
        <img src="newyork.jpg" alt="Commentaire" width="400" height="300">
        <p><strong>Commentaire</strong></p>
        <p>Commentaire</p>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a routerLink="/chasse/trucAstuce">
        <img src="sanfran.jpg" alt="Truc et Astuces" width="400" height="300">
        <p><strong>Truc et Astuces</strong></p>
        <p>Truc et Astuces</p>
        </a>
      </div>
    </div>
  </div><br>
