.container{
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.h1{
  margin-top: 100px;
  margin-bottom: 100px;
}
#portfolio{
  margin-top: 50px;
  margin-bottom: 50px;
}
