<div id="portfolio" class="container-fluid text-center bg-grey">
  <div >
    <h2>{{gibier.nomEspece}}</h2><br>
    <details >
      <summary class="btn-outline-primary"><h5>More detail >></h5></summary>
      <h4>{{gibier.descriptionEspece}}</h4>
    </details>
    <div class="col-sm-6">

    <div class="row text-center slideanim">

        <div class="thumbnail">
          <img src="{{gibier.photo}}" alt="Paris" width="1200" height="1200">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <h1 class="h1"><strong>Ou on peut trouver cette espece</strong></h1>
      <div *ngFor="let localisation of localisation">
        <div>
          <h2 >{{localisation.localisationChasse.nom}}</h2><br>
          <details *ngIf="localisation.localisationChasse.nom!=null">
            <summary class="btn-outline-primary"><h5>More detail >></h5></summary>
            <h4>{{localisation.localisationChasse.description}}</h4>
          </details>


        </div>
      </div>
    </div>
  </div>
  <!--  <div>-->
  <!--    <form #f="ngForm" (ngSubmit)="addNewLocalisation(f)">-->
  <!--      <label for="browser">Choose your browser from the list:</label>-->
  <!--      <input list="browsers" name="browser" id="browser" #browser="ngModel" ngModel>-->
  <!--      <datalist id="browsers">-->
  <!--        <div *ngFor="let l of localisationAll">-->
  <!--          <option value="{{l.nom}}">-->
  <!--        </div>-->
  <!--      </datalist>-->
  <!--      <button class="btn btn-warning">ajouter une nouvelle localisation</button>-->
  <!--    </form>-->
  <!--  </div>-->
</div><br>



