<div class="jumbotron text-center">
  <a routerLink="/chasse/commentaire/addCommentaire"> ajouter un nouveau commentaire</a>

</div>

<div id="portfolio" class="container-fluid text-center bg-grey">
  <div *ngFor="let commentaire of commentaire">
    <h4>{{commentaire.date_publication}}</h4>
    <div class="row text-center slideanim">
      <div class="col-sm-8">
        <div class="thumbnail">
          <a routerLink="/chasse/commentaire/detailCommentaire/{{commentaire._id}}">
            <p><strong>message:</strong></p>
            <p>{{commentaire.message}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div><br>
