<div class="container">

  <form #f="ngForm"  (ngSubmit)="addLocalisation(f)">
    <div class="form-group">
      <label >Langitude:</label>
      <input type="number" class="form-control" placeholder="Longitude" required name="longitude" #longitude="ngModel" ngModel >
    </div>

    <div class="form-group">
      <label >Latitude:</label>
      <input type="number" class="form-control" placeholder="Latitude" required name="latitude" #latitude="ngModel"  ngModel>
    </div>

    <div class="form-group">
      <label >Nom:</label>
      <input type="text" class="form-control" placeholder="Nom" required name="nom" #nom="ngModel"  ngModel>
    </div>
    <div class="form-group">
      <label >Description</label>
      <input type="text" class="form-control" placeholder="Description" required name="description" #description="ngModel"  ngModel>
    </div>
    <div class="form-group">
      <label >Photo</label>
      <input type="text" class="form-control" placeholder="photo" required name="photo" #photo="ngModel"  ngModel>
    </div>

    <div *ngIf="f.valid">
      <button class="btn btn-primary"  >Add Localisation</button>
    </div>
    <div *ngIf="f.valid==false">
      <button class="btn btn-primary"  [disabled]="true" >Add Localisation</button>
    </div>
  </form>


</div>
