.main-sidebar{
  background-color: #1ed4f4;
}
.dashbord{
  color: #0c0c0d;
}
.chasse{
  color: #0c0c0d;
}
nav-item{
  color: #0c0c0d;
}
.far{
  color: #0c0c0d;
}
.main-header{
  background-color: #1edbf4;
}
