
<div id="portfolio" class="container-fluid text-center bg-grey">
  <button class="btn  btn-outline-primary btn-lg " (click)="getDistance()">LES LOCALISATIONS LES PLUS PROCHES DE MOI</button>
</div>


    <div class="row text-center slideanim">
  <div class="col-sm-4"  *ngFor="let localisation of localisation[0].results | paginate:{itemsPerPage:limit,currentPage:p,totalItems:localisation[0].total}">
    <h2>{{localisation.nom}}</h2><br>
        <div class="thumbnail">
          <a routerLink="/chasse/localisation/detailLocalisation/{{localisation._id}}">
            <img src="{{localisation.photo}}" alt="localisation" width="1000" height="800">
          </a>
        </div>
      </div>
    </div>


  <div class="pagination pagination-sm m-0 float-md-right">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>


